* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }


body {
    font-family: Arial, Tahoma;
    background-color: #eaf4f6;
  }





/**/

.background1{
    background-color: #00305b;
    width: 40%;
    height: 750px;
    margin-bottom: 80px;

}

.coverIMG{
    width: 90%;
    height: 700px;
    position: absolute;
    opacity: 0.5;
    top: 30px;
    left: 5%;
}

.academyStyle{
    font-family: fantasy;
    font-size: 60px;
    text-align: center;
    color: white;
    letter-spacing: 5px;
}

.background1 .academyStyle h3{
    width: fit-content;
    margin: auto;
    padding: 100px 20px 150px;
}

.slogan{
    width: 500px;
    font-size: 30px;
    text-align: left;
    font-weight: bold;
    color: white;
    padding: 50px 0 100px 40px;
    font-family: Verdana, Tahoma, sans-serif;
}

/**/





/* Start Main Course Styling */

.mainCourse {
    width: 600px;
    min-height: 400px;
    max-height: 400px;
    box-shadow: 0 0 50px rgb(88, 85, 85);
    padding: 20px;
    margin: 20px auto 50px;
    text-align: center;
    background-color: #f5f5f5;
}

.mainCourse .mainTitle{
    margin: 0 0 20px;
    background-color: #00305b;
    color: #fff;
    padding: 30px;
    width: calc(100% + 80px);
    position: relative;
    left: -40px;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
}

.mainCourse .mainTitle:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -20px;
    border-width: 10px;
    border-color: #00305b #00305b transparent transparent;
    border-style: solid;
  }
  .mainCourse .mainTitle:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -20px;
    border-width: 10px;
    border-color: #00305b transparent transparent #00305b;
    border-style: solid;
  }

.mainCourse .mainDescription{
    font-size: 26px;
    line-height: 1.6;
}

/* End Main Course Styling */





/* Start Course Styling */

.course {
    float: left;
    border: 4px solid black;
    border-radius: 20px;
    width: calc((100%/3) - 20px);
    min-height: 525px;
    max-height: 525;
    box-shadow: 0 0 15px #ddd;
    padding: 20px;
    margin: 20px 10px;
    text-align: center;
    overflow: hidden;
}

.course .courseHeader {
    background-color: #00305b;
    padding: 15px;
    margin: auto;
    color: #fff;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 26px;
    transition: 0.6s;
}

.course .courseDescription{
    line-height: 1.6;
    transition: 0.6s;
    font-size: 22px;
    margin-top: 25px;
    min-height: 200px;
}

.course .courseBtn{
    display: inline-block;
    margin: 30px auto;
    padding: 20px;
    background-color: #00305b;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.course:hover .courseHeader {
    box-shadow: 0 0 0 500px #00305b;
    border: 2px solid white;
    border-radius: 50%;
    background-color: #eaf4f6;
    color: #00305b;
  }
.course:hover .courseDescription {
    color: white;
  }

.course:hover .courseBtn{
    color: #00305b;
    background-color: #eaf4f6;

}

/* End Course Styling */





